.friendList {
  margin: auto;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.item {
  display: flex;
  padding-top: 20px;
  margin: auto;
  width: 200px;
  justify-content: space-between;
  list-style: none;
  border: 2px solid violet;
  font-weight: bold;
}

.name {
  margin-right: 10px;
}

.statusOnline,
.statusOffline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.statusOffline {
  background-color: red;
}
